.main-dashboard {
    max-width: 60rem;
    margin: 5rem auto 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-types {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.project-types a {
    text-decoration: none;
}

.project-variant {
    width: 25vh;
    height: 11rem;
    color: white;
    margin: 2rem 0.5rem;
    text-align: center;
    box-shadow: 10px 11px 14px -10px rgba(0,0,0,0.2);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition-duration: 0.3s;
}

.project-variant img {
    width: 4rem;
    margin: auto;
}

.project-variant:hover {
    box-shadow: 10px 11px 17px -10px rgba(0,0,0,0.5);
    transition-duration: 0.3s;
}

.design-box {
    background: #3A6174;
}

.dev-box {
    background: #A9BCD0;
}

.marketing-box {
    background: #6B818C;
}

.crypto-box {
    background: #373F51;
}