.second-screen {
    margin-top: 5rem;
}

.process {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.step {
    width: 30%;
    height: 15rem;
    margin-top: 4rem;
}

.step h2 {
    color: #3A6174;
}

@media screen and (max-width: 850px) {
    .process {
        flex-direction: column;
    }
    .second-screen h1 {
        font-size: 1.5rem;
    }
    .step {
        width: 80%;
        margin-top: 0.5rem;
        height: auto;
    }
}