.compare-wrapper {
    margin-top: 5rem;
}

.compare-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.alternative {
    width: 45%;
    height: 15rem;
}

.alternative h3{
    color: #3A6174;
}

.alternative ul {
    padding-left: 0;
    list-style: none;
    line-height: 1.5rem;
}

.alternative img {
    width: 10rem;
}

.alternative span {
    text-align: right;
}