body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  width: auto;
  border: 1px solid #08415C;
  border-radius: 4px;
  background: transparent;
  color: #6B818C;
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: 600;
}
button:hover {
  background: #08415C;
  box-shadow: 10px 11px 14px -10px rgba(0,0,0,0.2);
  color: #EEE5E9;
  border: 1px solid #08415C;
}