header {
    display: flex;
    align-items: center;
    width: 55%;
    margin: 4rem auto;
}

.menu a{
    text-decoration: none;
    color: #6B818C;
    /* color: black;
    opacity: 0.7; */
}

nav {
    margin-right: 2rem;
}

.menu li {
    display: inline-block;
    font-weight: 600;
    margin-left: 3rem;
    cursor: pointer;
    text-transform: uppercase;
}

.menu {
    font-size: 0.9em;
    margin-left: 4rem;
}

  .menu a:hover,
  .menu a:active,
  .menu a.active {
    /* color:#ED7F81; */
    color: #08415C;
}

.logo {
    margin-left: 2rem;
}

.logo img{
    width: 12rem;
}

@media screen and (max-width: 1200px) {
    ul button {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .menu li {
        display: flex;
    }
    .menu {
        margin-top: 4rem;
    }
    nav {
        padding: 0;
    }
}